*{
    margin: 0;
    padding: 0;
}
#head{
    width:80%;
    height: 200px;
    margin-left: 20%;
    border: 1px solid red;
    margin-top: 2%;
    
}
#head>img{
    display: block;
    width: 95%;
    height: 100%;
    margin: auto;
   
}
#divs{
    width: 80%;
    height: fit-content;
    margin-left: 20%;
    display: grid;
    grid-template-columns: repeat(5, 180px);
    justify-content: space-around;
    align-items: center;
    border: 1px solid red;
 gap: 20px;
}
#divs>div{
 display: flex;
   background-color: black ;
   color: white;
   height: 40px;
   justify-content: center;
   align-items: center;
}