#promo_detail{
border: none;
text-decoration: underline;
text-align: center;
}
.box{
    text-align: center;
    margin-top: 50px;
}
.box2{
    background-color: #f2f2f2;
}
.box2_top-offer{
    text-align: center;
}
.box2-slide{
  display: flex;
  text-align: center;
  justify-content: center;
 
}
.box2-slide-show{
    display: flex;
    gap: 10px;
    text-align: center;
}
.title{
    box-sizing: border-box;
    
    color: #333;
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    padding: 10px;
    

}

.title-content{
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #f2f2f2;
}

.link-image{
    display: inline-block;
    padding: -10;
    
}

.graphic-tile-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
#carousel{
    border: 1px solid red;
    width: 500px;
    scroll-behavior: auto;
}

.grid-content{
    display: grid;
    grid-template-columns: repeat(6,300px);
}

