
#sidebar{
    /* border: solid black; */
    width: 20%;
    border: 1px solid red;
}
.head{
    text-decoration: none;
    list-style-type: none;
}
#h3{
    text-transform: uppercase;
}
.content>a{
    display: block;
    font-size: 18px;
    /* border: solid black; */
    margin-top: 13px;
    width: 90%;
    text-decoration: none;
    color: #919191;
}